@import url(https://fonts.googleapis.com/css?family=Exo+2:200);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: "Exo 2", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  height: 100vh;
  overflow-y: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
  background: #c9de96;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c9de96", endColorstr="#398235",GradientType=0 );
  /* IE6-9 */
}

/**
 * bubbles START
 */
bubbles {
  height: 480px;
  width: 640px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
}

bubbles ul {
  text-align: left;
  max-width: 350px;
  margin: auto;
  list-style-type: none;
}

bubbles li {
  float: left;
  width: 50%;
  position: relative;
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  color: #000;
  font-weight: bold;
}

bubbles .bubble {
  position: absolute;
  background: rgba(195, 222, 183, 0.25);
  border-radius: 50%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  overflow: hidden;
}

bubbles .bubble-fill {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 30%, rgba(255, 255, 255, 0.25) 80%);
}

bubbles .background-bubble {
  position: absolute;
  background: rgba(195, 222, 183, 0.25);
  border-radius: 50%;
  -webkit-filter: blur(3px);
}

bubbles .btn-list {
  margin: 5px;
  right: 0;
  position: absolute;
  z-index: 10;
}

bubbles .btn:focus,
bubbles .btn:hover {
  color: inherit;
}

bubbles .waves {
  display: block;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

bubbles .waves .wave {
  background-image: url("//www.soguecode.io/assets/wave.png");
  background-size: 200px 100px;
  background-repeat: repeat-x;
  background-position: 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

bubbles .waves .wave-one {
  -webkit-animation: wave-animation-left 7.7s infinite linear;
          animation: wave-animation-left 7.7s infinite linear;
  height: 80px;
  opacity: 0.25;
  margin-bottom: -30px;
}

bubbles .waves .wave-two {
  -webkit-animation: wave-animation-right 6.4s infinite linear;
          animation: wave-animation-right 6.4s infinite linear;
  height: 75px;
  opacity: 0.5;
  margin-bottom: -30px;
}

bubbles .waves .wave-three {
  -webkit-animation: wave-animation-left 5.1s infinite linear;
          animation: wave-animation-left 5.1s infinite linear;
  height: 70px;
  margin-bottom: -30px;
}

bubbles .waves .water {
  background: #c3deb7;
  position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  width: 100%;
  height: 0;
}

@-webkit-keyframes wave-animation-left {
  0% {
    background-position: 200px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes wave-animation-left {
  0% {
    background-position: 200px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes wave-animation-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 0;
  }
}
@keyframes wave-animation-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 0;
  }
}
/**
 * bubbles END
 */
/** Media queries **/
@media screen and (max-width: 414px) {
  body {
    padding: 0;
  }

  bubbles {
    height: 100vh;
    width: 100vw;
  }
}