* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
}

svg {
  width: 100%;
  height: auto;
}

#card1_bg-white, #card2_bg-white, #card3_bg-white, #card4_bg-white {
  transform-origin: 2% 8%;
  transform-style: preserve-3D;
}

#card3_bg-white,
#card4_bg-white,
#card5_bg-white {
  transform: scale(0);
}

#plane1 {
  transform-origin: 620px 580px;
}

#plane2 {
  transform: scaleX(-1) translate(-1500px, -150px);
  transform-origin: 500px 650px;
}